/*  */

.cpl_body {

 
  /* colores */
  /* grises */
  --extra_light_gray: #F5F5F5;
  --light_gray: #e1e2e7;
  --gray: #747474;
  --dark_gray: #333333;
  
  /* corporativos */
  --cpl_blue: #0033A0;
  --cpl_dark_blue: #002A82;
  --cpl_light_blue: #003ec3;
  --cpl_yellow: #e3e829;
  --cpl_light_yellow: #faff36;
  --cpl_dark_yellow: #cfd415;
  --cpl_aqua: #00aec7;

  /* /*alertas y estados */
  --green: #6ac259;
  --red: #d93c56;
  --orange: #e59013;
  color: #747474;



}


.cpl_body *.center, .cpl_body *.cpl_center {
  margin: 0 auto!important;
  float: none!important ;
  display: table!important;
}

.cpl_body .cpl_center-content {
  display: -moz-flex ;
  display: -webkit-flex ;
  display: -ms-flex ;
  display: flex!important ;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}



.cpl_bottom_nav{width: 100%;position: fixed;height: 40px;bottom: 0;z-index: 1;background-color: white;border-top: solid 1px #00aec7;}

html, body{ margin-left: 0; margin-right: 0; margin-left: 0; margin-right: 0}
 /* .cpl_body *{line-height: 100%}  */
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

.cpl_body button,
.cpl_body select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

 .cpl_body button,
 .cpl_body input[type="button"], /* 1 */
 .cpl_body input[type="reset"],
 .cpl_body input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

 .cpl_body button[disabled],
 .cpl_body input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

 .cpl_body button::-moz-focus-inner,
 .cpl_body input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `` in
 * the UA stylesheet.
 */

 /* .cpl_body input {
  line-height: normal;
} */

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

 .cpl_body input[type="checkbox"],
 .cpl_body input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

 .cpl_body input[type="number"]::-webkit-inner-spin-button,
 .cpl_body input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

 .cpl_body input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

.cpl_body *{
  -webkit-text-size-adjust: none;
  
}


/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

 .cpl_body input[type="search"]::-webkit-search-cancel-button,
 .cpl_body input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* ============= VERSION 1.0.1 ==============*/
/* (cambio de fondo) */

/* alcance de la propiedad, segun la letra asignada la propiedad funcionara en ciertas pantallas,
Actualmente existen 3: m, x, l.
l (large): en ancho de pantalla superior a 1100px */

/* visualizadores */
 /* .cpl_body *{border-bottom: 1px solid #000!important; } 
  .cpl_container, .cpl_bloque, .cpl_section {background-color: rgba(23,155,174,.3)}  
  .cpl_col{background-color: salmon;   }
 .cpl_section {background-color: rgba(23,155,174,.3); 
   border: solid 1px rgba(23,155,174,.3)  
 }     */


 /* .cpl_body.construct .cpl_container, .cpl_body.construct .cpl_bloque, .cpl_body.construct .cpl_section {background-color: rgba(23,155,174,.3)} 
 .cpl_body.construct .cpl_col{background-color: salmon} */



 .cpl_body *,
 .cpl_body *:before,
 .cpl_body *:after {
  -webkit-appearance: none;
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box; /* Firefox, other Gecko */
   box-sizing: border-box; /* Opera/IE 8+ */
   /* vertical-align: top; */
   font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif ;
   /* border: 1px solid #e3e829*/
 }
 .cpl_body .close{ background-image: url(../images/iconos/color/png/close.png); background-size: 50% auto; background-position: center; background-repeat: no-repeat}
 
 
 .ui-datepicker-calendar{
   border-collapse: collapse;
   
 }
 
 
 
  .ui-widget {
 
   font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
   background: #0033A0;
   border: none;
   border-radius: 0;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.27);
 -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.27);
 box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.27);
 }

  /* Textos y titulos */
  .cpl_body h1,
  .cpl_body p,
  .cpl_body h2,
  .cpl_body h3,
  .cpl_body h4,
  .cpl_body ul li {
    line-height: 115%!important;
    color: #747474 ; margin-top: 0; margin-bottom:10px!important; 
  }
 .cpl_body h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif!important ; font-weight: 700!important;
      color: #0033A0!important;
      font-size: 26px!important;
  }
  .cpl_body h2{
   font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
   "Lucida Sans", Arial, sans-serif!important;
    font-weight: 400!important; font-size: 24px!important;
    color: #0033A0!important ;
  }
  .cpl_body h2 img{width: 19px;
  -webkit-box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.47);
 box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.47); 
  }
  .cpl_body h3{
    font-weight: 400!important; font-size: 20px!important;
    color: #333333!important ;
  }
  .cpl_body h4{
   font-weight: 400!important; font-size: 18px!important;
   color: #333333!important ;
 }
 .cpl_body p {
   margin: 0!important;
   line-height: 160%!important;
   font-size: 15px!important;
   font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif!important;
   margin-bottom: 10px!important;
   color: #747474!important;
   font-weight: 400!important
 }
 .cpl_body .small-text{font-size: 13px!important}
  
  @media screen and (max-width: 700px) {
    /* .cpl_body .cpl_page_intro h1 {
      font-size: 18px;
    } */
  
  }
  @media screen and (max-width: 450px) {
   .cpl_body p {font-size: 14px!important}
   .cpl_body h1 {
     font-size: 22px!important;
   }
   .cpl_body h2 {
     font-size: 20px!important;
   }
   .cpl_body h3 {
     font-size: 18px!important;
   }
   .cpl_body h4 {
     font-size: 16px!important;
   }
  }
  /* Textos y titulos */

  .cpl_body .align_center{
    text-align: center
  }

.table_resumen .cpl_dato, .table_resumen .cpl_valor{
  width: 100%;
}
.table_resumen {
  border-spacing: 0px;
  width: 100%}
.cpl_body .cpl_valor{
  float: left; width: auto; font-weight: 400; margin-top: -4px
}
.cpl_body .cpl_dato{
 font-weight: 700; margin-top: -4px; 
}
.cpl_body .table_resumen .cpl_valor p{font-size: 16px!important;}
.cpl_body .table_resumen .cpl_dato p{color:#333333!important; font-size: 13px!important; margin-bottom: 4px!important;}
.cpl_body .table_resumen p.small-text{font-weight: 400; font-size: 13px!important}
.cpl_body .contactanos p{font-size: 13px!important; margin-bottom: 0!important; text-align: center} 
.cpl_body .contactanos{border-top: solid 1px #e1e2e7; margin: 0 auto; display: table; width: 100%; padding-top: 10px;}
.cpl_body .contactanos a{font-size: 17px!important;}
.cpl_body .cpl_valor p{color: #333333}
.cpl_body .table_resumen p{margin: 0; margin-bottom: 0!important; }
.table_resumen td{border-bottom: solid 1px #e1e2e7; vertical-align: text-top; width: 50%; padding: 10px; padding-left: 0;



}
.cpl_body .table_resumen.check td{padding-left: 30px; position: relative;}
.cpl_body .table_resumen.check td.ok:after{content:''; position: absolute; left: 0; width: 20px; height: 20px;  background-image: url(../images/success.png); background-size: 100% auto; background-repeat: no-repeat}

 .cpl_body .cpl_resumen_ul{list-style: none; padding: 0; margin: 0; float: left; width: 100%}

 .cpl_body .cpl_resumen_ul li{
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
    border-bottom: 1px #e1e2e7 solid; width: 100%; padding: 14px; padding-left: 0; list-style: none;
    float: left; margin: 0
 

 }
 .cpl_body .cpl_resumen_ul li p{margin: 0;
 
}
 .cpl_body .cpl_resumen_ul li .cpl_dato{

   float: left;
 }

 .cpl_body .cpl_resumen_ul li .cpl_valor{
  float: left; width: auto; font-weight: 700; margin-top: -4px
}
.cpl_body .cpl_resumen_ul li .cpl_valor_text{font-weight: 400}
.cpl_body .cpl_resumen_ul li .cpl_valor p{color: #333333}
.cpl_body .cpl_resumen_ul li .cpl_valor .cpl_estado{
  margin-top: 6px;
}

.cpl_body .cpl_resumen_ul li, .cpl_body .cpl_resumen_ul li .cpl_valor{
  width: 100%   
 }
 
 
 
 @media screen and (max-width: 760px) { 
  .table_resumen td{vertical-align: text-top; width: 100%; display: block; float: left; margin:0;}
 
 .ui-widget {
 position: absolute; top:calc(100vh - 484px); width: 322px; margin-left: -161px; left: 50%;    position: fixed; 
 
 }
 .cpl_body .cpl_resumen_ul li, .cpl_body .cpl_resumen_ul li .cpl_valor{
 width: 100%   
}

  } 
 
  .ui-priority-secondary{
    color: #e1e2e7;
  }
  .ui-datepicker {
   padding: 0;
 }
 
  .ui-datepicker-header {
   border: none;
   background: transparent;
   font-weight: normal;
   font-size: 15px;
   color: white;
   padding: 7px;
 }
 
  .ui-datepicker-header .ui-state-hover {
   background: transparent;
   border-color: transparent;
   cursor: pointer;
   border-radius: 0;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
 }
 
  .ui-datepicker .ui-datepicker-title {
   margin-top: .4em;
   margin-bottom: .3em;
   color: white;
   text-align: center;
   font-weight: 650;
   text-transform: uppercase;
 }
 
  .ui-datepicker .ui-datepicker-prev-hover,
  .ui-datepicker .ui-datepicker-next-hover,
  .ui-datepicker .ui-datepicker-next,
  .ui-datepicker .ui-datepicker-prev {
   top: .9em;
   border:none;
 }
 
  .ui-datepicker .ui-datepicker-prev-hover {
   left: 2px;
 }
 
  .ui-datepicker .ui-datepicker-next-hover {
   right: 2px;
 }
 
  .ui-datepicker .ui-datepicker-next span,
  .ui-datepicker .ui-datepicker-prev span {
   float: right;
   background-image: url(images/ui-icons_ffffff_256x240.png);
   background-position: -32px 0;
   margin-top: 0;
   top: 0;
   font-weight: normal;
 }
 
  .ui-datepicker .ui-datepicker-prev span {
   background-position: -96px 0;
   float: left;
 }
 
  .ui-datepicker table {
   margin: 0;
 }
 
  .ui-datepicker th {
   padding: 1em 0;
   color: white;
   font-size: 13px;
   font-weight: normal;
   border: none;

 }
 
  .ui-datepicker td {
   background: white;
   border: none;
   padding: 0;
   
  
 }
 
 .ui-datepicker td a{
   width: 30px; height: 30px;float: left;
   
 }
  td .ui-state-default {
   background: transparent;
   border: none;
   text-align: center;
   padding: .5em;
   margin: 0;
   font-weight: normal;
   color: #747474;
   font-size: 16px;
   text-decoration: none;
 
 }
 
  .ui-state-disabled  {
   opacity: 1;
 }

  td .ui-state-active,
  td .ui-state-hover {
   background: #0033A0; color: white;
 }
 .paginate_cont .pages, .paginate_button{float: left;padding: 12px; cursor: pointer; border-radius: 7px; width: auto; margin:  0 auto; margin-top: 20px; background-color:white; display: table}
 .paginate_cont .pagina{padding: 12px;}
 .paginate_button.current, .paginate_cont .page_active{background-color: #0033A0; color:white; border-radius: 4px; }
 /* .cpl_body h3{ border-left: solid 3px #0033A0; padding-left: 10px;} */
 /* 

 Container



 padding: 12px;
 max-width: 1000px;
 margin: 0 auto;
 display: table;
 float: none ;
 padding-bottom: 0;
 margin-top: 15px;
 min-height: calc(100vh - 180px);
 margin-bottom: 80px;
 width: 100%


 Media Queries

 760px : Ajustamos las grillas a su versión móvil
 450px : Ajustamos tamaños, margins y paddings
 
 */
 
 
 .cpl_container {
   /* padding: 15px; */
   border-radius: 3px;
   padding: 12px;
   max-width: 1000px;
   margin: 0 auto;
   display: table;
   float: none ;
   padding-bottom: 0;
   margin-top: 15px;
   /* margin-top: 30px; */
   /* min-height: calc(100vh - 180px); */
   margin-bottom: 50px;
  
   width: 100%
 }
 
 .cpl_bloque {
   /* padding: 15px; */
   border-radius: 3px;
   max-width: 900px;
   margin: 0 auto;
   display: table;
   float: none ;
   margin-top: 30px;
  
   width: 100% 
 }
 
 .cpl_body .cpl_section, .cpl_body .cpl_section.cpl_page_intro {
   float: left;
   width: 100%;
   box-sizing: border-box ;
   position: relative;
 
    margin-bottom: 70px;
    
 }


 
 .cpl_section.sub_section{
   margin-bottom: 10px;
 
 }
 
 .cpl_body a {
   color: #00aec7;
   text-decoration: none;
 }
 
 .cpl_fondo_box {
   border: solid 1px #333333;
   position: relative;
 
   min-height: 300px;
   width: 90%;
 }
 .cpl_fondo_porbar {
   -webkit-transition: all 1000ms ease-out;
   -moz-transition: all 1000ms ease-out;
   -ms-transition: all 1000ms ease-out;
   -o-transition: all 1000ms ease-out;
   transition: all 1000ms ease-out;
 
   position: absolute;
   background: #333333;
   width: 100%;
   bottom: 0;
   height: 50%;
 }
 .cpl_btn::-moz-focus-inner {
   border: 0 ;
 }

 .cpl_body .white {
   color: white ;
 }

 
 .cpl_body .cpl_page_title {
   margin-top: 20px ;
   margin-bottom: 20px ;
 }
 
 .cpl_page_title_full{
   background-color: #f5f5f5;
   float: left; width: 100%; 
   margin-bottom: 20px;
 
   
 
 }
 
 .cpl_page_title_full h1, .cpl_page_intro h1{

  width: 100%!important;
  float: none!important;
  display: inline-block!important;
  position: relative!important;
  /* padding-top: 20px ; */
  padding-bottom: 5px!important ;
  border-bottom:solid 3px #0033A0!important;
  width: auto!important;
  float: left!important;
  margin: 0!important;
  font-size: 18px!important
 }
 .cpl_body .cpl_page_intro{
  width: 100%;
  margin-bottom: 20px;

  /* margin-top: 20px; */
  float: left;
  margin-bottom: 15px;
  position: relative;
  border-bottom: 1px solid #e1e2e7

}

 .cpl_body .back_page{
   
   position: fixed;

   /* float: left; */
   background-image: url(../images/iconos/white/png/arrow-left.png);
   background-repeat: no-repeat;
   background-size: 20px;
   
   background-position-y: center;
   left: 0px;
   bottom: 20px; 
   left: 20px;
   border-radius: 40px;
   border: solid 1px #00aec7;
   background-color: #00aec7;
   font-weight: 400;
  
   color:white;
   padding: 12px;
   z-index: 99;
   font-size: 16px;
   float: left;
   width: auto;

   padding-left: 30px;
   padding-right: 30px;
   line-height: 100%;
   }
 .cpl_body .cpl_page_intro .cpl_col{padding-bottom: 0}
 .cpl_body .cpl_page_intro .info p{
 color:#0033A0!important;
 margin-top: 10px!important;
 /* padding-right: 30px!important; */
 font-weight: 400;
 margin-bottom: 10px!important;


 }

 .cpl_page_intro .page_icon{width: 40px; float: left; margin-top: -15px;}
 .cpl_page_intro .des{text-align: left; position: relative; padding: 0; }
 .cpl_body .cpl_page_intro .info{display: inline-block; }
 .cpl_body .cpl_page_intro.img .info{width: calc(96% - 160px); padding-right: 10px;}
 .cpl_page_intro .des img{
   margin-top: -100px;
   display: inline-block;
   width: 160px;
   vertical-align: bottom;
   
 
  
 
   }
   @media screen and (max-width: 720px) {

    .cpl_body .cpl_page_intro.img .info{width: 100%; padding-right: 0}
 .cpl_page_intro .des img{display: none;  }
 .cpl_page_intro .des{max-width: 100%;}
   }

 /* .cpl_body .txt_extraGray {
  color: #333333 ;
}
 .cpl_body .txt_gray {
   color: #747474 ;
 } */
 .cpl_body .blue {
   color: #0033A0!important ;
 }
 .cpl_body .aqua {
   color: #00aec7!important ;
 }
 .cpl_body .yellow {
   color: #e3e829!important;
 }

 
 .cpl_body .lightgray {
   color: #e1e2e7!important ;
 }
 .cpl_body .ex-lightgray {
   color: #f5f5f5 ;
 }
 .cpl_body .error_red {
   color: #d93c56 ;
 }
 .cpl_body .success_green {
   color: #6ac259 ;
 }
 .cpl_body .alert_orange {
   color: #e59013 ;
 }
 
 .cpl_body .cpl_bloque h3 {
   /* margin: 0 ; */
 }
 .cpl_body .lightgray_bg {
   /* background-color: #f5f5f5; */
 }
 
 
 .cpl_body label{ font-size: 15px}
 /* .cpl_body ul {
   padding: 0 20px 0 20px;
   margin: 0 ;
   margin-bottom: 20px ;
 } */
 .cpl_body ul li {
  
   list-style: none;
 }
 .cpl_body .normal_list{padding: 0; padding-left: 20px; float: left }
 .cpl_body .normal_list li{list-style: disc!important; color: #0033A0;}
 .cpl_body .normal_list.small{ font-size: 12px }
 .cpl_message {
   width: calc(100%) ;
   padding-left: 75px;
 }
 
 .cpl_message .img {
   width: 60px;
   background-color: #e3e829;
   position: absolute;
   left: 0px;
   top: 0;
   bottom: 0;
 }
 
 @media screen and (max-width: 500px) {
   .cpl_message {
     width: calc(100%) ;
     padding-left: 15px;
     padding-top: 60px;
   }
   .cpl_message .img {
     width: 100%;
     background-color: #e3e829;
     position: absolute;
     left: 0;
     top: -10px;
     bottom: none;
     height: 50px;
   }
   .cpl_message .img img {
     width: 80px;
     left: 50%;
     margin-left: -40px;
     position: absolute;
     top: -15px;
   }
 }
 /* .cpl_body ul li::before {
   content: "";
   position: absolute;
   width: 5px;
   height: 5px;
   background: #0033A0;
   border-radius: 50%;
 
   display: inline-block;
   left: -10px;
   top: 6px;
 } */

 .cpl_body .cpl_instruccion p {
   font-style: italic;
   color: #0033A0!important;
   text-align: center;
   font-weight: 600;
   float: left;
   position: relative;
   /* width: calc(100% - 40px); */
   padding-right: 20px;
   margin-bottom: 20px; margin: 0!important
 }

 .cpl_instruccion{ max-width: 300px;  float: left; position: relative; }
 .cpl_body .cpl_instruccion img 
 {
  position: absolute;  height: 100%;
 }
 
 .cpl_body .cpl_resumenlist {
   padding: 0;
 }

 .cpl_body .cpl_resumenlist.cpl_compact_list li{padding: 16px; margin-top: 0; margin-bottom: 5px;}

 /* .cpl_body .cpl_valor {
   text-align: right;
   float: right;
   font-weight: 700;
   width: 70%;
 } */
 .cpl_body li.editable .cpl_valor {
   padding-right: 50px;
 }
 .bloque_detalle,
 .li_detalle {
   display: none;
 }
 
 /* .cpl_body .cpl_dato {
   width: 30%;
 } */
 /* .cpl_body  .tag:after{content:'TAG'; position: absolute; top:-10px;} */
 .cpl_body .cpl_resumenlist li {
   /* -webkit-box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.47);
 box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.47); */
   -webkit-transition: all 200ms ease-out;
   -moz-transition: all 200ms ease-out;
   -ms-transition: all 200ms ease-out;
   -o-transition: all 200ms ease-out;
   transition: all 200ms ease-out;
   padding: 12px;
   /* border-left: #e1e2e7 2px solid; */
   /* border-right: #e1e2e7 2px solid; */
   background: white;
   font-size: 18px;
   margin-top: 0;
   margin-bottom: 0px;
   width: 100%;
   border-bottom: 1px solid #e1e2e7;
   float: left;
   position: relative;
 }

 .cpl_body .cpl_resumenlist li p{ margin-bottom: 0}

 .cpl_body .cpl_resumenlist li.editable .cpl_input {
   /* max-width: 400px; */
   -webkit-animation-duration: 200ms;
   animation-duration: 200ms;
   float: right;
   /* width: calc(100% - 108px); */
 
   /* top:-13px; */
 
   display: none;
 }
 .cpl_body .cpl_resumenlist li.editable .cpl_col {

   position: absolute;
   width: calc(100% - 100px);
   top: -13px;
   padding: 0 ;
   max-width: 400px;
   right: 100px;
 }
 
 .cpl_body .cpl_resumenlist li.editable.editing .cpl_input {
   display: block;
 }
 
 .cpl_body .cpl_resumenlist li.editable .validate_error_txt {
   opacity: 0;
 }
 
 .cpl_body .cpl_resumenlist li.editable.editing .validate_error_txt {
   opacity: 1;
 }
 
 .cpl_body .cpl_resumenlist li.editable.editing {
   float: left;
 }
 
 .cpl_body .cpl_resumenlist li.editable.editing .cpl_valor p {
   display: none;
 }
 

 
 .cpl_body .cpl_resumenlist.cpl_movile_list .cpl_valor {
   text-align: left;
   float: left;
   font-weight: 700;
   padding-right: 50px;
 }
 
 .cpl_body .cpl_resumenlist.cpl_movile_list .terminado{
   float: left;
 }
 
 
 @media screen and (max-width: 760px) {
   .cpl_body .cpl_resumenlist li.editable .cpl_col {
     top: 0;
   }
   .cpl_body .cpl_resumenlist li.editable .cpl_col {
     left: 0;
   }
   .cpl_body .cpl_resumenlist li.editable.editing .cpl_input {
     /* top: 2px; */
   }
   @media screen and (max-width: 500px) {
     .cpl_body .cpl_resumenlist li.editable .cpl_col {
       width: 100%;
       right: 0;
       top: 5px;
     }
     .cpl_body .cpl_resumenlist li.editable .cpl_input {
       max-width: 400px;
       -webkit-animation-duration: 200ms;
       animation-duration: 200ms;
       width: calc(100% - 0px);
 
       /* top:-13px; */
       right: 0px;
       display: none;
     }
     .cpl_body .cpl_resumenlist li.editable.editing .cpl_editar_dato,
     .cpl_body .cpl_resumenlist li.editable.editing .cpl_terminar_edicion {
       height: 50px;
       top: auto;
       bottom: 0;
       right: 10px;
     }
 
     li.editable.editing {
       padding-bottom: 120px ;
     }
 
     .editing .cpl_terminar_edicion {
       right: 80px ;
     }
   }
 
   .cpl_body .cpl_resumenlist li.editable.editing {
     padding-top: 4px;
     padding-bottom: 54px;
   }
   .cpl_body .cpl_resumenlist .cpl_valor,
   .cpl_body .cpl_resumenlist .cpl_dato {
     width: 100%;
   }
   /* .cpl_body .cpl_valor {
     text-align: left;
     float: left;
     font-weight: 700;
     padding-right: 50px;
   } */
   .cpl_body .cpl_resumenlist li.editable .cpl_input {
   }
 }
 .cpl_body .cpl_resumenlist li.editable .cpl_editar_dato {
   z-index: 99;
 
   -webkit-transition: all 300ms ease-out;
   -moz-transition: all 300ms ease-out;
   -ms-transition: all 300ms ease-out;
   -o-transition: all 300ms ease-out;
   transition: all 300ms ease-out;
   background-image: url(../images/editar_ok.png);
   background-size: 200% auto;
   background-repeat: no-repeat;
   background-position: left center;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   width: 60px;
   color: #0033A0;
   cursor: pointer;
   font-size: 12px;
   text-align: center;
   background-color: #e3e829;
   padding-top: 35px;
 }
 
 .cpl_terminar_edicion {
   z-index: 2;
 
   -webkit-transition: all 300ms ease-out;
   -moz-transition: all 300ms ease-out;
   -ms-transition: all 300ms ease-out;
   -o-transition: all 300ms ease-out;
   transition: all 300ms ease-out;
   background-image: url(../images/editar_ok.png);
   background-size: 200% auto;
   background-repeat: no-repeat;
   background-position: left center;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   width: 60px;
   color: #0033A0;
   cursor: pointer;
   font-size: 12px;
   text-align: center;
   background-color: transparent;
   padding-top: 35px;
 }
 .editing .cpl_terminar_edicion {
   right: 60px;
 }
 
 .cpl_body .cpl_resumenlist .cpl_editar_dato p,
 .cpl_body .cpl_resumenlist .cpl_terminar_edicion p {
   text-transform: uppercase;
   position: absolute;
   margin: 0 ;
   width: 100%;
   text-align: center;
   bottom: 8px;
   font-size: 9px ;
   font-weight: 700 ;
   color: #0033A0 ;
 }
 
 li.editable.editing .cpl_editar_dato p {
 }
 .cpl_body .cpl_resumenlist li.editable.editing .cpl_editar_dato {
   background-color: transparent;
   background-position: right;
   color: white;
 }
 
 /* .cpl_body .cpl_resumenlist .cpl_dato {
   float: right;
   text-align: right;
 } */
 .cpl_body .cpl_resumenlist li::before {
   display: none;
 }
 

 .cpl_banner {
   width: 100%;
   border-radius: 8px;
   background-color: #e1e2e7;
   position: relative;
   float: left;
   padding: 10px;
   padding-top: 20px;
   padding-bottom: 20px;
 }
 .cpl_banner h3 {
   text-align: center ;
   margin: 0 ;
   margin: 10px 0 10px 0 ;
 }
 
 
 
 .cpl_banner .cpl_banner_img {
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
 }
 .cpl_banner .cpl_banner_img img {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 160px;
 }
 .cpl_banner .cpl_banner_info {
   width: calc(100% - 160px);
   float: left;
   position: relative;
 }
 @media screen and (max-width: 500px) {
   .cpl_banner h3 {
     font-size: 16px ;
   }
   .cpl_banner .cpl_banner_info {
     width: calc(100% - 140px);
     float: left;
     position: relative;
   }
   .cpl_banner .cpl_banner_img img {
     width: 140px;
   }
 }
 .cpl_body .cpl_validate_error .cpl_input,
 .cpl_body .cpl_validate_error .cpl_input:focus, .cpl_body .cpl_input.error, .cpl_body .cpl_input.error:focus, .cpl_body .cpl_input.f_error, .cpl_body .cpl_input.f_error:focus {
   -webkit-transition: all 200ms ease-out;
   -moz-transition: all 200ms ease-out;
   -ms-transition: all 200ms ease-out;
   -o-transition: all 200ms ease-out;
   transition: all 200ms ease-out;
   border-color: #d93c56 ;
   color: #d93c56 ;
 
 }
 .cpl_body .cpl_input.error:focus, .cpl_body .cpl_input.f_error:focus{
 
 
   animation-duration: 3s;
   animation-name: slidein;
 }

 
 .cpl_col label.error, .cpl_col label.f_error{ min-height: auto}
 .cpl_col label.error, .cpl_col label.f_error,
 .validate_error_txt {
   
position: absolute;
   
width: auto;
   
background-color: #fff;
   
color: #d93c56;
   
padding-bottom: 3px;
   
padding: 2px;

   
/* padding-bottom: 10px; */
   
font-size: 13px;
   
z-index: 999;
   
bottom: 0px;
   
right: 5%;
   
font-weight: 400;

   
display: none;
 }
 
 .cpl_body .cpl_validate_error .validate_error_txt {
   display: block;
 }
 .cpl_body .cpl_ayuda {
   font-size: 18px ;
   margin-top: 10px;
   padding-top: 10px;
 }
 .cpl_alert {
   text-align: center;
   margin-top: 10px;
   font-size: 18px;
   line-height: 120%;
   font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif ;
   padding: 10px;
   float: left;
   position: relative;
   width: 100%;
   background-color: #e59013;
   padding-left: 55px;
   padding-right: 10px;
   max-width: 700px;
  
   background-repeat: no-repeat;
   background-position: left 10px center;
   color: white;
   
 }
 @media screen and (max-width: 760px) {
  .cpl_alert {
    font-size: 15px;
     }
 }
 @media screen and (max-width: 450px) {
  .cpl_alert {
    font-size: 13px;
     }
 }
 .cpl_alert:after{
   content:'';
   position: absolute; 
   width: 45px;
   top:0;
   bottom:0;
   left: 0;
   background-color: #D4881A;
  background-image: url(../images/iconos/white/png/alert.png);
  background-size: 65% auto; background-repeat: no-repeat; background-position: center;
 }
 .cpl_alert .txtMsg {
   background-image: none ;
   color: white;
   padding: 0 ;
 }
 .cpl_success {
   background-color: #6ac259;

   color:white;
 }
 .cpl_error {
   background-color: #d93c56;

   color:white;
 }
 .cpl_error:after{
  background-color: #BC3349;
  background-image: url(../images/iconos/white/png/alert.png);
 }
  .cpl_success:after{
    background-color: #59b048;
    background-image: url(../images/iconos/white/png/check.png);
 }
 .cpl_appear {
   -moz-animation: fadeInDown 600ms;
   -ms-animation: fadeInDown 600ms;
   -o-animation: fadeInDown 600ms;
   animation: fadeInDown 600ms;
   height: 0;
   display: none;
   overflow: hidden;
 }
 .cpl_appear_active {
   height: auto;
   float: left;
   display: block;
 }
 .cpl_body * {
   /* -webkit-transition: all 200ms ease-out;
 -moz-transition: all 200ms ease-out;
 -ms-transition: all 200ms ease-out;
 -o-transition: all 200ms ease-out;
 transition: all 200ms ease-out; */
   box-sizing: border-box ;
 }
 

 

 /* Sura Blue: #0033A0 */
 .cpl_dialog_box {
   border-radius: 7px;
   background-color: #333333;
   padding: 10px;
   float: left;
   width: auto ;
 }
 .gray {
   color: #747474;
 }
 /* .cpl_section {
   float: left;
   width: 100%;
   box-sizing: border-box ;
   position: relative;
 } */
 
 /* @media screen and (max-width: 1100px) {
   .cpl_section.compact {
     max-width: 400px;
     float: none;
     margin: 0 auto;
   }
 } */
 /* .cpl_body .cpl_dato {
   font-weight: 900;
   color: #00aec7;
   font-size: 20px;
 } */
 /* .cpl_body .cpl_dato.neg {
   color: #d93c56;
 } */
 /* .cpl_section.margin {
   margin-top: 15px;
   margin-bottom: 15px;
  
 } */
 /* .cpl_section.first {
   margin-top: 0;
 } */
 .stroked {
   border: solid 1px #e1e2e7;
 }
 .cpl_body .cpl_form{ width: 100%; margin: 0 auto; display: table; float: none}
 .cpl_body .cpl_form .disabled{opacity: .7;}
 .cpl_body .cpl_form .disabled .cpl_input{border-style:  dashed}
 .cpl_body .cpl_form .cpl_col.cpl_no_padding > .cpl_col{padding-bottom: 0}
 .cpl_body .cpl_form .cpl_btn {
   margin-top: 31px ;
 }
 .cpl_body .cpl_form.collapse .cpl_btn{margin-top: 20px}
 .cpl_body .cpl_form.collapse .label_l{margin-top: 20px}
 .cpl_body .cpl_form > .cpl_col {
   padding-bottom: 0 ;
 }
 .cpl_body .cpl_form p{margin: 0!important; margin-bottom: -20px!important; text-align: center}
 .cpl_body .cpl_form  .form_action {
   float: right;
 }
 .cpl_body .form_action .cpl_btn{
   max-width: 300px;
   float: right;
 }
 .cpl_body .cpl_btn,
 .cpl_body .cpl_input {
   font-size: 16px;
   color: #333333;
   padding: 12px!important;
   margin: 0;
   position: relative;
   box-sizing: border-box;
   float: left;
   border-radius: 3px;
   width: 100%;
   font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
   "Lucida Sans", Arial, sans-serif ;
   /* estilos para reemplazar antiguos css */
   padding: 12px ;
   height: auto ;
   margin-bottom: 4px;
   display: block;
 }

 .cpl_body .cpl_btn {
    /* text-transform: uppercase; */
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  font-weight: 900;
  background-color: #e3e829;
  border: solid 1px #e3e829;
  color: #0033A0;
  text-align: center;
  text-decoration: none ;
  margin-bottom: 10px;
  cursor: pointer!important;
}
.cpl_btn span{font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",   "Lucida Sans", Arial, sans-serif!important ;}
.cpl_body .cpl_btn.secondary{
  border-color: #0033A0 ;
  background-color: transparent;
  outline: 0px;
  color: #0033A0;
}
.cpl_body .cpl_btn.blue:hover{
  border-color: #0047e0 ;
  background-color: #0047e0;
  outline: 0px;
  color: #fff;
}
.cpl_body .table_btn{
  max-width: 100px; margin-right: 5px
}
.cpl_body .cpl_btn.terciary{
  border-color: transparent ;
  background-color: #e1e2e7;
  outline: 0px;
  color: #0033A0;
}
.cpl_body .cpl_btn.terciary:hover{
  border-color: transparent ;
  background-color: #f4f4f4;
  outline: 0px;
  color: #0033A0;
}

.cpl_body .cpl_btn.blue{
  border-color: #0033A0 ;
  background-color: #0033A0;
  outline: 0px;
  color: #fff;
}
.cpl_body .cpl_btn.small{
  padding: 4px!important; 
  font-size: 14px;
  margin-bottom: 4px;
}
.cpl_body .cpl_btn.secondary:hover{
  border-color: #002A82 ;
  background-color: transparent;
  outline: 0px;
  color: #002A82;
}
 @media screen and (max-width: 450px) {
  .cpl_body .cpl_btn,
  .cpl_body .cpl_input {
  padding: 10px!important;
  font-size: 16px;
  }
}
 
 .cpl_body .cpl_input:focus {
   border-color: #0033A0 ;
   background-color: white ;
   outline: 0px;
   color: #0033A0;
 }
 /* @media screen and (min-width: 1100px){
 .cpl_body .cpl_btn, .cpl_body .cpl_input {
     margin-bottom: 15px;
 }
 }   */
 
 .cpl_body .cpl_input {
   border: 1px solid #e1e2e7 ;
   background-color: white ;
   /* -webkit-box-shadow: inset 0px 1px 6px -1px rgba(0,0,0,0.39);
 -moz-box-shadow: inset 0px 1px 6px -1px rgba(0,0,0,0.39);
 box-shadow: inset 0px 1px 6px -1px rgba(0,0,0,0.39); */
 }

 .cpl_body select.cpl_input {
   appearance: none;
   -moz-appearance: none; /* Firefox */
   -webkit-appearance: none; /* Safari and Chrome */
   background-image: none;
   background-image: url("../images/arrow-down.png") ;
   background-repeat: no-repeat;
   background-position: right 10px center;
   background-size: auto 25%;

 }
 /* .cpl_body select.cpl_input::after{
   content:''; background-color: #333333; width: 20px; height: 20px;  position: absolute; z-index: 9999;
 } */
 
 @media screen and (min-width: 0\0) {
   .cpl_body select.cpl_input {
     background-image: url("../images/arrow-down.png") ;
     background-repeat: no-repeat;
     /*background-position: left 135% center;*/
     background-size: auto 25%;
   }
 }
 /*.cpl_select-wrap{position: relative; float: left; width: 100% }
    .cpl_select-wrap::after{ content:''; position: absolute;  right: 5px; top: 0; bottom:25px;   
      background-image: url('../images/arrow-down.svg');  background-repeat: no-repeat;
       background-position: center; background-size: auto 50%; width: 30px;
       background-color: #e1e2e7;
 
    }*/
 
 .cpl_body select.cpl_input::-ms-expand {
   display: none;
 }
 .cpl_password {
 }
 @media screen and (min-width: 760px) {
   .cpl_col_divider {
     border-right: 1px solid #e1e2e7;
   }
   /* .cpl_250mx{max-width: 260px;} */
 }
 @media screen and (min-width: 1100px) {
   .cpl_col_l_divider {
     border-right: 1px solid #e1e2e7;
   }
   /* .cpl_l_250mx{max-width: 260px;} */
 }
 
 .send_mail .cpl_input {
   width: calc(100% - 85px);
   margin-right: 5px;
 }
 .send_mail .cpl_btn {
   max-width: 80px;
 }
 .cpl_envia_descarga {
   width: 100%;
   max-width: 800px;
   margin: 0 auto;
   text-align: center;
   min-height: 100px;
 
   display: table;
 }
 .cpl_envia_descarga .envia {
   width: 50%;
   display: inline-block;
   vertical-align: text-bottom;
   padding-left: 20px;
   padding-right: 20px;
 }
 .cpl_envia_descarga .descarga {
   width: 47%;
   display: inline-block;
   vertical-align: text-bottom;
   padding-left: 20px;
   padding-right: 20px;
 }

 @media screen and (min-width: 760px) {
 .cpl_envia_descarga .descarga .cpl_btn{
   max-width: 240px;

 }
}
 
 @media screen and (max-width: 800px) {
   .cpl_envia_descarga .envia {
     padding-left: 10px;
     padding-right: 10px;
   }
   .cpl_envia_descarga .descarga {
     padding-left: 10px;
     padding-right: 10px;
   }
 }
 
 @media screen and (max-width: 700px) {
   .cpl_envia_descarga .envia {
     width: 100%;
     max-width: 450px;
   }
   .cpl_envia_descarga .descarga {
     width: 100%;
     max-width: 450px;
   }
 }
 



 .cpl_body .cpl_btn:hover {
  background: #cfd415;
  border-color:  #cfd415;
 
  
}
.clave_acceso{
  letter-spacing: 6px
}
 .cpl_250mw {
   max-width: 250px;
 }
 .cpl_200mw {
  max-width: 200px;
}
.cpl_150mw {
  max-width: 150px;
}
.cpl_100mw {
  max-width: 100px;
}
.cpl_300mw {
  max-width: 300px;
}
 .cpl_350mw {
   max-width: 350px;
 }
 .cpl_450mw {
  max-width: 450px;
}
 .cpl_200mx {
   max-width: 200px;
 }
 

 .cpl_btn.blue {
   background-color: #0033A0 ;
   border-color: #0033A0 ;
   color: white ;
 }
 .cpl_btn.aqua {
   background-color: #00aec7 ;
   border-color: #00aec7 ;
   color: white ;
 }
 
 .cpl_btn_loading {
   padding-right: 30px;
   padding-left: 10px;
   transform: scale(1);
 }
 .cpl_alert_top {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   width: auto;
 }
 .cpl_alert_temp {
   -moz-animation: fadeInDown 600ms;
 
   -ms-animation: fadeInDown 600ms;
 
   -o-animation: fadeInDown 600ms;
 
   animation: fadeInDown 600ms;
 }
 .cpl_btn_loading:after {
   content: "";
   top: 0;
   right: 0;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 5px;
   width: 20px;
   top: 0;
 }
 .cpl_body label {
   min-height: 35px;
   position: relative;
   line-height: 90%;
   width: 100%;
   float: left;
 } /* este span considera los textos que pueden pasar de una linea a dos y descuadrar un formulario*/
 
 /* @media screen and (max-width: 760px){
     .cpl_body .label{min-height: auto; margin-top: 20px; margin-bottom: 10px;}
 } */

 .cpl_body .label p,
 .cpl_body .label_l p {
   line-height: 111%!important;
   position: absolute;
   bottom: 1px!important;
   font-size: 15px;
   font-weight: 600;
   color: #333333!important;
   float: left;
 }
 
 .cpl_body .label_l {
   min-height: auto;
   margin-top: 29px;
   margin-bottom: 2px;
 }
 
 @media screen and (max-width: 1100px) {
  
 }
 
 .cpl_body .label_l p {
   /* line-height: 83%!important; */
   /* position: absolute; */
   /* bottom: 6px!important; */
   font-size: 15px;
   line-height: 90%;
   margin-bottom: 0!important;
   text-align: left
 }
 
 .cpl_body .cpl_col {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   float: left;
   position: relative;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   box-shadow: none;
   padding: 3px; 
   /* border: solid 1px #e1e2e7; */
 }
 .cpl_notification_cont {
   -webkit-transition: all 700ms ease-out;
   -moz-transition: all 700ms ease-out;
   -ms-transition: all 700ms ease-out;
   -o-transition: all 700ms ease-out;
   transition: all 700ms ease-out;
   position: relative;
   display: none;
   max-width: 1200px;
   height: auto;
   top: 5px;
   bottom: 50px;
   z-index: 1;
   width: 100%;
   margin: 0 auto;
 }
 @media screen and (max-width: 1280px) {
   .cpl_notification_cont {
     max-width: 960px;
   }
 }
 .current {
   display: block;
 }
 .cpl_notification {
   /* -webkit-transition: all 300ms ease-out;
 -moz-transition: all 300ms ease-out;
 -ms-transition: all 300ms ease-out;
 -o-transition: all 300ms ease-out;
 transition: all 300ms ease-out; */
   background-color: #0033A0;
   opacity: 1;
 
   padding: 10px;
   padding-top: 25px;
   padding-bottom: 20px;
   position: absolute;
   border-top: solid 2px #002A82;
   width: 100%;
 }
 .cpl_notification_cont .notification_numb {
   -webkit-transition: all 3000ms ease-out;
   -moz-transition: all 3000ms ease-out;
   -ms-transition: all 3000ms ease-out;
   -o-transition: all 3000ms ease-out;
   transition: all 3000ms ease-out;
 
   color: #e3e829;
   display: inline-block;
   font-weight: 700;
   font-size: 24px;
   text-align: left;
 }
 
 .cpl_notification .notification_icon,
 .cpl_notification .notification_action,
 .cpl_notification .notification_text {
   float: left;
   position: relative;
 }
 .cpl_notification .notification_icon {
   width: 15%;
 }
 .notificaciones_txt,
 .notification_more {
   font-size: 12px;
 }
 .notification_numb {
   line-height: 14px;
 }
 
 .cpl_notification .notification_icon img {
   width: 66px;
 }
 .cpl_notification .notification_text {
   width: 55%;
   padding-left: 10px;
   padding-right: 10px;
 }
 .cpl_notification .notification_action {
   width: 30%;
 }
 .cpl_notification {
   display: none;
 }
 .cpl_notification.current {
   display: block;
   position: relative;
 }
 .cpl_notification .content img {
   width: 30px;
 }

 .cpl_notification_cont .notification_desplegar {
   display: none;
   width: 100%;
   padding: 7px;
   position: relative;
   top: 0px;
   z-index: 0;
   color: white;
   text-align: right;
   background-color: #002A82;
 }
 .cpl_body .cpl_notification h3 {
   margin: 0 ;
   color: white ;
   font-size: 20px;
   margin-bottom: 10px ;
 }
 .cpl_notification_cont .notification_more {
   color: #e3e829;
   cursor: pointer;
   border: solid #e3e829 1px;
   border-radius: 12px;
   padding: 3px;
   padding-left: 5px;
   padding-right: 5px;
   max-width: 30px;
   font-weight: 500;
   max-height: 30px;
   padding-left: 15px;
   margin-left: 5px;
   padding-right: 15px;
   text-transform: uppercase;
 }
 .cpl_notification p {
   color: white ;
   font-size: 16px ;
   margin-bottom: 0 ;
 }
 .cpl_notification .cpl_btn {
   margin-bottom: 0;
 }
 .cpl_notification span {
   color: white;
   font-weight: 700;
 }
 .cpl_notification .content {
   max-width: 700px;
   margin: 0 auto;
 }
 .cpl_notification .cpl_close {
   position: absolute;
   top: 0;
   right: 0;
   width: 30px;
   height: 30px;
   background-image: url(../images/close-a.png);
   background-size: 50% auto;
   background-position: center;
   background-repeat: no-repeat;
 }
 @media screen and (max-width: 600px) {
   .cpl_notification p {
     font-size: 14px ;
   }
   .cpl_notification .cpl_btn {
     padding: 6px ;
     font-size: 13px ;
   }
 }
 .cpl_body .cpl_col_pb {
   padding-left: 20px;
   padding-right: 20px;
 }
 .cpl_body .cpl_no_padding {
   padding: 0 ;
 }
 .cpl_no_margin {
   margin: 0 ;
 }
 .cpl_body .cpl_col_6_r
 {
  width: 100% ;
  } 
 .cpl_body .cpl_col_cinco,
 .cpl_body .cpl_col_l_cinco,
 .cpl_body .cpl_col_m_cinco,
 .cpl_body .cpl_col_s_cinco {
   width: 20% ;
 }
 
 .cpl_body .cpl_col_1,
 .cpl_body .cpl_col_l_1,
 .cpl_body .cpl_col_m_1,
 .cpl_body .cpl_col_s_1 {
   width: 8.33% ;
 }
 
 .cpl_body .cpl_col_2,
 .cpl_body .cpl_col_l_2,
 .cpl_body .cpl_col_m_2,
 .cpl_body .cpl_col_s_2 {
   width: 16.66% ;
 }
 
 .cpl_body .cpl_col_3,
 .cpl_body .cpl_col_l_3,
 .cpl_body .cpl_col_m_3,
 .cpl_body .cpl_col_s_3 {
   width: 25% ;
 }
 
 .cpl_body .cpl_col_4,
 .cpl_body .cpl_col_l_4,
 .cpl_body .cpl_col_m_4,
 .cpl_body .cpl_col_s_4 {
   width: 33.33% ;
 }
 
 .cpl_body .cpl_col_5,
 .cpl_body .cpl_col_l_5,
 .cpl_body .cpl_col_m_5,
 .cpl_body .cpl_col_s_5 {
   width: 41.66% ;
 }
 
 .cpl_body .cpl_col_6,
 .cpl_body .cpl_col_l_6,
 .cpl_body .cpl_col_m_6,
 .cpl_body .cpl_col_s_6 {
   width: 50% ;
 }
 
 .cpl_body .cpl_col_7,
 .cpl_body .cpl_col_l_7,
 .cpl_body .cpl_col_m_7,
 .cpl_body .cpl_col_s_7 {
   width: 58.33% ;
 }
 
 .cpl_body .cpl_col_8,
 .cpl_body .cpl_col_l_8,
 .cpl_body .cpl_col_m_8,
 .cpl_body .cpl_col_s_8 {
   width: 66.66% ;
 }
 
 .cpl_body .cpl_col_9,
 .cpl_body .cpl_col_l_9,
 .cpl_body .cpl_col_m_9,
 .cpl_body .cpl_col_s_9 {
   width: 75% ;
 }
 
 .cpl_body .cpl_col_10,
 .cpl_body .cpl_col_l_10,
 .cpl_body .cpl_col_m_10,
 .cpl_body .cpl_col_s_10 {
   width: 83.33% ;
 }
 
 .cpl_body .cpl_col_11,
 .cpl_body .cpl_col_l_11,
 .cpl_body .cpl_col_m_11,
 .cpl_body .cpl_col_s_11 {
   width: 91.66% ;
 }
 
 .cpl_body .cpl_col_12,
 .cpl_body .cpl_col_l_12,
 .cpl_body .cpl_col_m_12,
 .cpl_body .cpl_col_s_12 {
   width: 100% ;
 }
 
 @media (max-width: 760px) {
  .cpl_body .cpl_col_6_r
  {
   width: 50% ;
   }
   .cpl_body .cpl_col_cinco,
   .cpl_body .cpl_col_1,
   .cpl_body .cpl_col_2,
   .cpl_body .cpl_col_3,
   .cpl_body .cpl_col_4,
   .cpl_body .cpl_col_5,
   .cpl_body .cpl_col_6,
   .cpl_body .cpl_col_7,
   .cpl_body .cpl_col_8,
   .cpl_body .cpl_col_9,
   .cpl_body .cpl_col_10,
   .cpl_body .cpl_col_11,
   .cpl_body .cpl_col_12 {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     width: 100% ;
   }
 }
 
 @media (max-width: 1100px) {
   .cpl_body .cpl_col_l_cinco,
   .cpl_body .cpl_col_l_1,
   .cpl_body .cpl_col_l_2,
   .cpl_body .cpl_col_l_3,
   .cpl_body .cpl_col_l_4,
   .cpl_body .cpl_col_l_5,
   .cpl_body .cpl_col_l_6,
   .cpl_body .cpl_col_l_7,
   .cpl_body .cpl_col_l_8,
   .cpl_body .cpl_col_l_9,
   .cpl_body .cpl_col_l_10,
   .cpl_body .cpl_col_l_11,
   .cpl_body .cpl_col_l_12 {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     width: 100% ;
   }
 }

 .cpl_body .cpl_section{margin-bottom: 40px}
 .cpl_body .cpl_subsection{margin-bottom: 15px}
 /*contenedor de enviar mail*/
 .mail_certificado .send_mail {
   float: left;
   width: 100%;
 }
 /*estas lineas son para modificar boton btnLoading*/
 .cpl_body .btn-loading.running {
   padding-left: 0px ;
   padding-right: 22px ;
 }
 .cpl_body .contBtn-load {
   margin: 0 ;
 }
 .send_mail a {
   width: 100px;
   float: left;
 }
 /* se considera que el a contiene al boton  */
 .cpl_body a.btn-loading_ama {
   width: 100%;
   margin: 0 ;
 }
 .cpl_body .btn-loading {
   width: 100%;
   font-size: 16px ;
   font-weight: 900;
 
   min-width: 0;
   padding: 11px ;
   border: 1px solid #e3e829;
   border-radius: 3px;
   margin-left: 0 ;
 }
 .send_mail a.btn-loading_ama {
   max-width: 100px;
 }
 /* .send_mail .running{padding-left: 4px} */
 .cpl_body .btn-loading span {
   font-size: 16px ;
   color: #0033A0 ;
 }

 
 /*seperar mensajes de contenido*/
 .conts_int.cont_der .vista {
   float: left;
   width: 100%;
   margin: 20px 0 0 0;
 }
 
 /* steps */
 
 .cpl_steps {
   width: 100%;
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: #f5f5f5;
   text-align: center;
   font-size: 0;
 }
 
 .cpl_step:after {
   content: "";
   position: absolute;
   left: 0;
   width: 100%;
   background-color: white;
   top: 30px;
   height: 3px;
   z-index: 1;
 }
 
 .cpl_step:first-child:after {
   width: 50%;
   left: 50%;
 }
 
 .cpl_step:last-child:after {
   width: 50%;
   right: 50%;
 }
 
 .cpl_step {
   display: inline-block;
   padding-left: 6px;
   padding-right: 6px;
   vertical-align: top;
   overflow: hidden;
   position: relative;
   width: 20%;
 }
 
 .cpl_step .cpl_step_number {
   background-color: #747474;
   margin: 0 auto;
   line-height: normal ;
 
   border-radius: 50%;
   z-index: 2;
   position: relative;
 
   width: 60px;
   height: 60px;
   border: solid 3px white;
   font-size: 30px;
 
   color: white;
   text-align: center;
 
   font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif ;
   font-weight: 500;
 
   padding-top: 6px;
 }
 
 .cpl_step .cpl_step_name {
   font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif ;
   font-size: 16px;
   padding-top: 6px;
   color: #747474;
   text-align: center;
 }
 
 .cpl_step.current .cpl_step_number {
   background-color: #6ac259;
 }
 
 .cpl_step.current .cpl_step_name {
   color: #6ac259;
 }
 
 .cpl_step.error .cpl_step_number {
   background-color: #d93c56;
 }
 
 .cpl_step.error .cpl_step_name {
   color: #d93c56;
 }
 
 @media screen and (max-width: 720px) {
   .cpl_step .cpl_step_number {
     width: 60px;
     height: 60px;
     font-size: 30px;
     padding-top: 6px;
     border: solid 3px white;
   }
 
   .cpl_step .cpl_step_name {
     font-size: 15px;
   }
 
   .cpl_step:after {
     top: 30px;
     height: 3px;
   }
 }
 
 @media screen and (max-width: 500px) {
   .cpl_step .cpl_step_number {
     width: 40px;
     height: 40px;
     font-size: 22px;
     padding-top: 2px;
     border: solid 2px white;
   }
 
   .cpl_step .cpl_step_name {
     font-size: 11px;
   }
 
   .cpl_step:after {
     top: 20px;
     height: 2px;
   }
 }
 
 /* steps */
 /* tablas */
 .no_results{display: none}
 .no_results h3{text-align: center;text-transform: uppercase; font-weight: 400 }
 .no_results *{-webkit-animation-duration: 100ms;
   animation-duration: 100ms;}
 .cpl_cont_table {
   /* background-color: #f5f5f5; */
   /* padding: 12px; */
   /* border-radius: 3px; */
 }
 .cpl_table {
   display: table;
   width: 100%;
   /* border-collapse: collapse; */
   background-color: white;
   /* padding: 10px ; */
 }
 .cpl_body .cpl_estado{
  
  float: left;
  /* background-color: #333333 */

 }
 .cpl_body .cpl_estado span{
/* border: solid 1px #333333; */
/* padding: 2px; */
 white-space: nowrap;
  position: relative;
   font-weight: 600;
   text-transform: uppercase;
   border-radius: 30px;
  
   
   text-align: center ;
   vertical-align: middle ;
   float: right;
   width: auto;
   margin: 0 auto;
   float: right;
   color: white;
   width: 100%;
   padding-left: 20px; font-size: 14px
 }

 .cpl_body .cpl_estado span:after{
  content: "";
  position: absolute;
  
  
  left: 0px;
  top: 0px;
  bottom: 0;
  width: 20px;
  background-size:auto 15px ; background-position: center left;
  background-repeat: no-repeat;
 }
 
 .cpl_body .terminado span{
   
  color: #6ac259 ;
  border-color:  #6ac259 ;
  
  
 }
 .cpl_body .enCurso span{
  
  color: #00aec7 ;
  border-color: #00aec7 ;
  
  
 }
 .terminado span:after {
 
   background-image: url(../images/iconos/color/png/check.png);

 }
 .enCurso span:after {

   background-image: url(../images/iconos/color/png/clock.png);

 }
 
 .cpl_table .movil_title,
 .cpl_table .table_dato {
   float: left;
   position: relative;
 }
 
 .cpl_table_row {
   color: #747474 ;
   /* border-left: solid 2px #e1e2e7 ; */
   /* border-right: solid 2px #e1e2e7 ; */
   display: table-row;
   border-bottom: #e1e2e7 1px solid;
   background-color: white;
 }
 .cpl_table .table_datos:hover {
   color: #0033A0 ;
   border-right: #0033A0 solid 2px;
   border-left: #0033A0 solid 2px;
   background-color: white
 }
 .cpl_th {
   font-weight: 700;
   background-color: #f5f5f5 ;
   border: 0 ;
 }
 .cpl_th .cpl_table_col {
   background-color: transparent ;
   vertical-align: bottom;
 }
 
 .cpl_table_col {
   vertical-align: middle;
   font-size: 14px;
   padding: 16px;
   border-bottom: solid 1px #e1e2e7;
   /* margin-left: -1px; */
   border-collapse: collapse;
 
   background-color: transparent;
   display: table-cell;
 }
 
 .cpl_table .movil_title {
   font-weight: 600;
   display: none;
 }
 
 .table-transaccion{
   max-width: 900px;
     border-collapse: collapse;
     margin-bottom: 20px;
 }
 .table-transaccion td, .table-transaccion th {padding: 7px;border: solid 1.5px #e1e2e7}
 .table-transaccion th{
 background-color: #f5f5f5 ;
 }
 
 @media screen and (max-width: 760px) {
  .cpl_body .cpl_estado{
   float: left;
 }

 /* .cpl_body .cpl_estado span:after{

  width: 16px;
  height: 16px;
 
 } */
  
   .cpl_table { padding: 6px}
 
   /* .cpl_table .table_datos:hover .cpl_table_col:first-child{
     border-top: solid 4px #0033A0;
     
   } */
   .cpl_table .table_datos:hover {
     color: #0033A0 ;
     border-left: 0 ;
     border-right: 0 ;
     background-color: white
   }
   .cpl_table_row {
     border-left: 0 ;
     border-right: 0 ;
   }
 
   .cpl_th {
     display: none ;
   }
   .cpl_table .movil_title,
   .cpl_table .table_dato {
     width: 50%;
   }
   .cpl_table .table_dato {
     text-align: right;
   }
   .cpl_table .movil_title {
     display: block;
   }
   .cpl_table_col {
     display: block;
     float: left;
     /* margin-top: -1px; */
     width: calc(100%);
     border-left: 0;
    
   }
   .cpl_table .cpl_table_row {
     border-left: 0 ;
     display: block;
     width: 100%;
     float: left;
     margin-top: 20px;
     border: solid 1px #e1e2e7;
     border-top: solid 4px #e1e2e7;
     
     
   }
   .cpl_table .cpl_table_row:hover{
     border: solid 1px #e1e2e7;
     border-top:solid 4px #0033A0
   }
   .cpl_table_col:first-child {
     /* background-color: #e3e829  */
 
     
   }
 
   
 }
 .cpl_modal{
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0
  }

 .modal_box{
  background-color: #fff;
   z-index: 999; position: absolute;  top: 0; max-height: 100vh;
   width: 100%;  
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; 
  display: none;
    padding: 30px; padding-top: 10px; border-radius: 0 0 7px 7px 
  }
.cpl_shadow{background-color: #333; opacity: .7; position: absolute; top: 0; height: 100vh; left:0; right: 0;}

.right_modal .modal_box{
   right: 0;    max-width: 760px;
   height: calc(100vh - 42px); top: 42px;
   
 }

 .cpl_modal .top{ position: absolute; z-index: 1999; top: 0; padding: 4px; width: 100%; background-color: #fff; border-bottom: 1px solid #f4f4f4 
   
 } 
 .center_modal .modal_box{
   width: 94%;
     max-width: 420px;
     margin-left: auto; margin-right: auto;
  /* height: calc(100vh - 44px); top: 44px; */
  margin-left: auto;
margin-right: auto;
left: 0;
right: 0;

  top: 0px;
  padding-top:55px;
  
   
  
}

.center_modal .top{
  width: 94%;
    max-width: 420px; 
    margin-left: auto;
margin-right: auto;
left: 0;
right: 0;

  
 }


  
     .right_modal .top{
      right: 0;    max-width: 760px; 
      
     }

  .cpl_modal .close{
    width: 33px; height: 33px;  top: 5px; left: 5px;
   background-color: #fff; border-radius: 30px; padding: 0px; cursor: pointer; 
 }
  
 /* .cpl_modal{display: none; z-index: 999; position: relative; float: left; width: 100%; overflow-y: scroll;.cpl_modal .modal_box{background-color: white; padding: 30px;
  
  float: left;
  z-index: 999;
  position: relative;
  padding-top: 50px;
 
   -webkit-animation-duration: 0.3s;
   animation-duration: 0.3s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both; position: relative
 
 } 
 .cpl_modal.center_modal .modal_box{
  width: 90%;
  max-width: 380px; border-radius: 7px; top: 20px; margin: 0 auto; display: table; position: relative;
} */

  /*
 .cpl_modal .modal_shadow{position: fixed; overflow: hidden; overflow-y: scroll; background-color:rgba(9,9,9,0.8); top: 0; left: 0; bottom: 0; right: 0; z-index: 999;
 
 } 
 .cpl_modal .top{width: 100%; position: fixed; top: 0; left: 0; padding: 7px;  } 
 .cpl_modal .top {
 position: fixed;
 background-color: #002A82
  }
 
 .cpl_modal .close{
   width: 15px; height: 15px;  top: 5px; left: 5px;
  background-color: #fff; border-radius: 30px; padding: 15px;
}
.cpl_modal .modal_box{background-color: white; padding: 30px;
  float: left;
  z-index: 999;
  position: relative;
  padding-top: 50px;
 
   -webkit-animation-duration: 0.3s;
   animation-duration: 0.3s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both; position: relative
 
 } 

 .cpl_modal .activo
 
 .cpl_modal.right_modal .modal_box{float: right; width: 100%; max-width: 600px; min-height: 100vh;
  
  } */


  /* .cpl_modal.center_modal .modal_box{
    width: 90%;
    max-width: 380px; border-radius: 7px; top: 20px; margin: 0 auto; display: table; position: relative;
  }
 
  */
 /* @media screen and (max-width: 760px) {
   .cpl_modal.right_modal .modal_box{ max-width: 400px; padding: 12px; }
   .cpl_modal .top { max-width: 417px}
 } */
 
 /* responsive real table */
 .cpl_realTable-cont .dataTables_empty{text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 400; 
font-size: 22px;
}

.cpl_body .cpl_search_input{

 background-image: url("../images/iconos/color/png/search.png") ; 
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: auto 20px;
}
 .cpl_realTable-cont .dataTables_info, .cpl_realTable-cont .dataTables_length{display: none;}
 /* .cpl_realTable-cont label{margin-top: 10px;} */
 .cpl_realTable tr{ 
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
   
  cursor: pointer; background-color: #f5f5f5;

}
 .cpl_realTable tr:hover{
   color: #0033A0 ;
 border-top-color: #0033A0;
   background-color: white
 }

 
 .cpl_realTable-cont .ellipsis{float: left; margin-top: 34px;}
 .cpl_realTable .th-sm{
   vertical-align: bottom;
   font-weight: 700;
   background-color: white ;
   border: 0 ; border-bottom:2px solid #0033A0; color: #0033A0}
 .th_movil{display: none; max-width: 50%;}
 .cpl_realTable{ border-collapse: collapse; border: 0; }
 .cpl_realTable-cont .dataTables_filter label{
   font-weight: 600;
   width: 50%;
   color: #333333;
   float: left;
   margin-top: 14px;
   /* border: solid 2px white; */
   }
   .external_search .dataTables_filter label{display: none}
   .cpl_realTable-cont .dataTables_filter input{margin-top: 7px; }  
   .cpl_realTable span{ float: left;}
   .cpl_realTable-cont .cpl_input{ font-weight: 200}
 .cpl_realTable td, .cpl_realTable th{

  line-height: 130%; 
  border: 0;text-align: left; border: solid 1px #e1e2e7;padding: 10px;font-size: 14px;}
 .cpl_show_phone{display: none!important}
 .cpl_realTable.responsive_table span.indexTable{display: none;}
 @media screen and (max-width: 760px) {
   .cpl_body .cpl_hide_phone{display: none!important;}
   .cpl_body .cpl_show_phone{display: block!important}

  .cpl_realTable-cont .dataTables_filter label{
    width: 100%
  }
  .cpl_body .responsive_table .cpl_estado{
    float: right!important;
  }
  .cpl_body .responsive_table .cpl_estado span{
    max-width: 100%!important;
  }
  .responsive_table_s_cont{
   max-width: 100vw; overflow-x: auto;
    max-width: calc(100vw - 29px);

    
  }
  .responsive_table_s_cont td, .responsive_table_s_cont th, .responsive_table_s_cont .terminado span, .responsive_table_s_cont .enCurso span{
    font-size: 14px;
  }
  .responsive_table_s_cont td{padding: 8px;padding-top: 15px;padding-bottom: 15px;}
  .cpl_realTable-cont.hide_search_phone .dataTables_filter label{
    display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 12px;
  background-color: white;
  color:#0033A0; 
  z-index: 999;
  border-top: 1px solid #e1e2e7;
  }
   /* .cpl_realTable.responsive td.movil_head{background-color: #0033A0; color:white; border-color: #0033A0} */
   
   .cpl_realTable.responsive_table td span{float: right; text-align: right; position: relative; max-width: 50%; overflow-wrap: break-word;vertical-align:text-bottom;}

   .enCurso span, .terminado span{padding-left: 16px; font-size: 11px; text-align: left}
   .cpl_realTable.responsive_table .th_movil{display: block; float: left; font-weight: 700;}
   .cpl_realTable.responsive_table td{display:inline-block;width: 100%;clear:both;

    margin-top: -1px;
    border: 0;
    border-left: solid 1px #e1e2e7;
    border-right: solid 1px #e1e2e7;
    border-bottom: solid 1px #e1e2e7; 
    font-size: 11px; padding: 7px}

   .cpl_realTable.responsive_table tr{display:block;width: 100%;clear:both; position: relative; margin-bottom: 10px;float: left;/* border: solid 1px #e1e2e7; */}
   .cpl_realTable.responsive_table tbody tr{
  
     
     /* border-bottom: solid 1px #e1e2e7; */
     /* border-top: solid 4px #0033A0; */
   }
      /* numerada */
  .cpl_realTable.responsive_table span.indexTable{float: left;
    
    display: block; font-weight: 900; font-size: 14px;
    z-index: 999; margin-bottom: 1px;
   background-color:white; padding: 6px; color: #0033A0; border-bottom: solid 3px #0033A0;  text-align:   left; width: 100%
   
  }

   .cpl_realTable.responsive_table thead{ display: none}
     
 }

 /* @media screen and (max-width: 400px) {
   .cpl_body .cpl_input {font-size: 12px}
   .cpl_body .cpl_btn{padding: 10px;}
 } */

 @media screen and (max-width: 620px) {
  
  .responsive_table_s_cont td, .responsive_table_s_cont th{
    font-size: 12px;
    
  }
}
 
 
 @media screen and (max-width: 450px) {
  
  .responsive_table_s_cont td, .responsive_table_s_cont th{
    font-size: 12px;
  }

  .cpl_body .responsive_table_s_cont .cpl_estado span:after{

    background-size:auto 13px ; background-position: center left;
   
   }

   .cpl_body .responsive_table_s_cont .cpl_estado span{

font-size: 11px;

}

 }



